set timeout=0
set default=0

menuentry "bunixos" {
	multiboot2 /boot/bunixos.kernel log=info
	module2 /modules/vm.server vm
	module2 /modules/console.server consoled
	module2 /modules/names.server names
	module2 /modules/bootstrap.server bootstrap
	module2 /modules/time.server time
	module2 /modules/user.server user
	module2 /modules/linux.server linux
module2 /modules/proc.server proc
module2 /modules/procfs.server procfs
module2 /modules/tmpfs.server tmpfs
module2 /modules/devfs.server devfs
module2 /modules/utmpfs.server utmpfs
module2 /modules/rootfs.server rootfs
module2 /modules/unionfs.server unionfs
module2 /modules/block.server block
	module2 /modules/vfs.server vfs
	module2 /modules/ping.server ping
	module2 /modules/disk0.img disk0
	boot
}
