set timeout=0
set default=0

menuentry "bunixos" {
	multiboot2 /boot/bunixos.kernel
	module2 /modules/vm.server vm
	module2 /modules/names.server names
	module2 /modules/init.server init
	module2 /modules/time.server time
	module2 /modules/linux.server linux
	module2 /modules/proc.server proc
	module2 /modules/block.server block
	module2 /modules/vfs.server vfs
	module2 /modules/ping.server ping
	module2 /modules/disk0.img disk0
	boot
}
